.body {
    width: 100vw;
    background-color: #FAFAFA;
    height: 80vh;
    margin: 0 auto;
    float: left;
}

.container {
    width: 90%;
    background-color: #F5F5F5;
    height: 100%;
    margin: 2.5% auto;
}

