doctype html
html(lang='en')
    head
        link(type='image/png', rel='shortcut icon', href=`/favicon`)
        title='Demo API'
    body(style={'background-color': '#BBDEFB'})
        h1(style={'color': '#fff','text-align': 'center', 'font-size': '48px'})='Express Cleaner API'
        h2(style={'color': '#fff','text-align': 'center', 'font-size': '32px'})='Backend Running...'
        .main
            .face
            .foot
            .hay
            .nose
            .eye-ball-left
            .ear-left
            .ear-right
            .eye-left
            .eye-right
            .eye-ball-right
        .div(style={'width': '100%', 'display': 'flex', 'justify-content': 'center'})
            a(href='/api/docs', style={'width': '250px','height': '50px','margin': '0 auto','background-color': '#fff','color': '#28a745','font-size': '24px','display': 'flex','align-items': 'center','justify-content': 'center','border-radius': '5px'})='View API Docs'
        style.
            body { background: lightblue; margin: 0; padding: 0; } .main { margin: 40px auto; width: 300px; height: 300px; border-radius: 152px; border: 2px solid rgb(0, 0, 0); background: rgb(255, 255, 255); box-shadow: 0px -20px rgb(190, 190, 190) inset; } .face { position: relative; top: -20px; left: 40px; width: 220px; height: 200px; background: rgb(255, 255, 255); border: 2px solid rgb(0, 0, 0); border-radius: 112px / 102px; box-shadow: 0px -12px rgb(190, 190, 190) inset; } .foot { position: relative; top: 50px; left: 50px; width: 80px; height: 60px; border-radius: 30px 30px 8px 8px; background: rgb(40, 40, 40); box-shadow: 120px 0px rgb(40, 40, 40); } .nose { position: relative; top: -120px; left: 90px; width: 120px; height: 60px; border-radius: 62px / 32px; border: 2px solid rgb(0, 0, 0); background: rgb(254, 192, 203); box-shadow: 0px -8px rgb(230, 170, 170) inset; } .eye-left { -webkit-animation: eye-looking 20s ease-in-out infinite; -moz-animation: eye-looking 20s ease-in-out infinite; animation: eye-looking 20s ease-in-out infinite; position: relative; top: -354px; left: 76px; width: 60px; height: 60px; border-radius: 34px; background: transparent; border: 4px solid rgb(0, 0, 0); box-shadow: 0px 60px 0px -20px rgb(254, 192, 203) inset; } .eye-right { position: relative; top: -422px; left: 156px; width: 60px; height: 60px; border-radius: 34px; background: transparent; border: 4px solid rgb(0, 0, 0); box-shadow: 0px 60px 0px -20px rgb(254, 192, 203) inset; } .eye-ball-left { -webkit-animation: eye-ball-direction 20s ease-in-out infinite; -moz-animation: eye-ball-direction 20s ease-in-out infinite; animation: eye-ball-direction 20s ease-in-out infinite; position: relative; top: -220px; left: 100px; width: 20px; height: 20px; border-radius: 10px; background: rgb(0, 0, 0); } .eye-ball-right { position: relative; top: -444px; left: 180px; width: 20px; height: 20px; border-radius: 10px; background: rgb(0, 0, 0); box-shadow: -18px 60px rgb(0, 0, 0), -58px 60px rgb(0, 0, 0); } .ear-left { position: relative; top: -340px; width: 80px; height: 30px; border-radius: 42px / 17px; border: 2px solid rgb(0, 0, 0); background: rgb(255, 255, 255); -webkit-transform-origin: right center; -moz-transform-origin: right center; transform-origin: right center; -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); transform: rotate(30deg); box-shadow: 0px -5px rgb(254, 192, 203) inset; } .ear-right { position: relative; top: -370px; left: 220px; width: 80px; height: 30px; border-radius: 42px / 17px; border: 2px solid rgb(0, 0, 0); background: rgb(255, 255, 255); -webkit-transform-origin: left center; -moz-transform-origin: left center; transform-origin: left center; -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg); transform: rotate(-30deg); box-shadow: 0px -5px rgb(254, 192, 203) inset; } .hay { -webkit-animation: chew-hay 2s ease-in-out infinite; -moz-animation: chew-hay 2s ease-in-out infinite; animation: chew-hay 2s ease-in-out infinite; position: relative; top: -72px; left: 90px; width: 160px; height: 5px; background: rgb(203, 133, 70); box-shadow: 0px 4px 0px 0px rgb(253, 164, 40),     0px 8px 0px 0px rgb(203, 133, 70), 0px 12px 0px 0px rgb(253, 164, 40); -webkit-transform: rotate(-25deg); -moz-transform: rotate(-25deg); transform: rotate(-25deg); } @-webkit-keyframes chew-hay { 50% { -webkit-transform: rotate(-15deg); } 100% { -webkit-transform: rotate(-25deg); } } @-moz-keyframes chew-hay { 50% { -moz-transform: rotate(-15deg); } 100% { -moz-transform: rotate(-25deg); } } @keyframes chew-hay { 50% { transform: rotate(-15deg); } 100% { transform: rotate(-25deg); } }
