doctype html
html(lang='en')
    head
        title=`Demo API 404`
        link(type='image/png', rel='shortcut icon', href=`/favicon`)
        style
            include styles/bootstrap.css
            include styles/notfound.css
    body
