doctype html
html(lang='en')
    head
        title=`Demo API 404`
        style(amp-custom)
            include notfound.css
    body
        include ./components/header/header.pug
        include ./components/container/container.pug
