doctype html
html(lang='en')
    head
        link(type='image/png', rel='shortcut icon', href=`/favicon`)
        title=`Demo API Preview: ${briefError}`
        style(amp-custom)
            include preview.css
    body
        h1=`${status_code} Error Preview: ${briefError}`
