doctype html
html(lang='en')
    head
        title=`Demo API Preview: ${briefError}`
        style(amp-custom)
            include preview.css
    body
        h1=`${status_code} Error Preview: ${briefError}`
